<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cloudland.rek.minimalistfakeweatherapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_weather"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_weather"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cloudland.rek.minimalistfakeweatherapp.activities.SettingsActivity"></activity>
        <activity android:name="com.cloudland.rek.minimalistfakeweatherapp.activities.AddCityActivity" />
        <activity android:name="com.cloudland.rek.minimalistfakeweatherapp.activities.CitiesListActivity" />
        <activity android:name="com.cloudland.rek.minimalistfakeweatherapp.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>